<!DOCTYPE html>
<html>
    <head>
    	<title>404 Page not Found</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/site.css">
    </head>
    <body>
        <section>
            <div class="container">
                <div class="entry-list">
	<h1>404</h1>
	<p>Page not found</p>
	<p><a href="{{ url_for('index') }}">Back to homepage</a></p>
</div>
</div>
</section>
</body>
</html>